@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply cursor-pointer;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* code {
  background-color: #f5f3ff;
} */

/* pre {
  background-color: lightgray;
} */

pre {
  overflow-x: auto;
  width: 100%;
  padding: 1rem 0;
}

pre [data-line] {
  padding: 0 1rem;
}

html.dark {
  pre[data-theme='light'],
  code[data-theme='light'] {
    display: none;
  }
}

html.light {
  pre[data-theme='dark'],
  code[data-theme='dark'] {
    display: none;
  }
}

code {
  background: #f5f3ff;
  color: #c4b5fd;
}
